# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# gstack skill symlinks (created by ./setup, not source files)
.claude/skills/autoplan
.claude/skills/benchmark
.claude/skills/browse
.claude/skills/canary
.claude/skills/careful
.claude/skills/codex
.claude/skills/cso
.claude/skills/design-consultation
.claude/skills/design-review
.claude/skills/document-release
.claude/skills/freeze
.claude/skills/gstack-upgrade
.claude/skills/guard
.claude/skills/investigate
.claude/skills/land-and-deploy
.claude/skills/office-hours
.claude/skills/plan-ceo-review
.claude/skills/plan-design-review
.claude/skills/plan-eng-review
.claude/skills/qa
.claude/skills/qa-only
.claude/skills/retro
.claude/skills/review
.claude/skills/setup-browser-cookies
.claude/skills/setup-deploy
.claude/skills/ship
.claude/skills/unfreeze

# typescript
*.tsbuildinfo
next-env.d.ts
